body {
    position: relative;
    overflow-x: hidden;
}

header {
    background-image: url("../images/road3.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 700px;
}

header .intro {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
    margin-top: 200px;

}

section {
    padding: 100px 0;
}

#omakuva-me {
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    padding: 0px;
    width: 70%;
    margin: auto auto;
}

.contact-list {
    text-align: center;
}

.contact-list li {
    display: inline;
    padding: 15px;
}

.portfolio-item {
    text-align: center
}

#kartta {
    width: 100%;
    height: 400px;
}

#spinner {
    z-index: 9999;
    margin: 50vh auto;
    text-align: center;
    position: relative;
    display: block;
}

#loading-screen {
    background: #FFF;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 100%;
}

.btn-xl {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 30px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}

#navi {
    display: none;
}

.navbar-custom {
    background-color: #494949;
    border-color: transparent;
}

.navbar-custom .navbar-brand {
    color: orange;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #fec503;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}

.navbar-custom .navbar-toggle {
    background-color: orange;
    border-color: orange;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: orange;
}

.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;

}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: orange;
    outline: none;
}

.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: orange;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #fec503;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        background-color: transparent;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px;
    }
}

@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #494949;
        padding: 10px 0;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}

.flip-list-move {
    transition: transform 1s;
}

#luonteet {
    width: 100%;
    margin-left: -10%;
    list-style-type: none;
}

.aikajana {
    list-style: none;
    padding: 0;
    position: relative;
}

.aikajana:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: orange;
    left: 40px;
    margin-left: -1.5px;
}

.aikajana > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
}

.aikajana > li:before,
.aikajana > li:after {
    content: " ";
    display: table;
}

.aikajana > li:after {
    clear: both;
}

.aikajana > li .aikajanapala {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}

.aikajana > li .aikajanapala:before {}

.aikajana > li .aikajanapala:after {}

.aikajana > li .aikajana-kuva {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 5;
    background-color: orange;
    color: white;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}

.aikajana > li .aikajana-kuva h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px;
}

.aikajana > li.aikajanapala-kaannetty > .aikajanapala {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px;
}

.aikajana > li.aikajanapala-kaannetty > .aikajanapala:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.aikajana > li.aikajanapala-kaannetty > .aikajanapala:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.aikajana > li:last-child {
    margin-bottom: 0;
}

.aikajana > li:first-child {}

.aikajana .aikajana-heading h4 {
    margin-top: 0;
    color: inherit;
}

.aikajana .aikajana-heading h4.subheading {
    text-transform: none;
}

.aikajana .aikajana-body > p,
.aikajana .aikajana-body > ul {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .aikajana:before {
        left: 50%;
    }
    .aikajana > li:first-child {
        min-height: 150px;
    }
    .aikajana > li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .aikajana > li .aikajanapala {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .aikajana > li .aikajana-kuva {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }
    .aikajana > li .aikajana-kuva h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px;
    }
    .aikajana > li.aikajanapala-kaannetty > .aikajanapala {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
}

@media (min-width: 992px) {
    .aikajana > li {
        min-height: 150px;
    }
    .aikajana > li .aikajanapala {
        padding: 0 20px 20px;
    }
    .aikajana > li .aikajana-kuva {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .aikajana > li .aikajana-kuva h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px;
    }
    .aikajana > li.aikajanapala-kaannetty > .aikajanapala {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .aikajana > li {
        min-height: 170px;
    }
    .aikajana > li .aikajanapala {
        padding: 0 20px 20px 100px;
    }
    .aikajana > li .aikajana-kuva {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .aikajana > li .aikajana-kuva h4 {
        margin-top: 40px;
    }
    .aikajana > li.aikajanapala-kaannetty > .aikajanapala {
        padding: 0 100px 20px 20px;
    }
}

#spinner-frame {
    margin-top: -100px;
}

.kieliteksti {
    text-align: center;
}

#skill-ympyrat > div {}

.container {
    height: auto;
}

.social-buttons > li > a {
    color: black;
}

.social-buttons > li > a:hover {
    color: orange;
}

.aikajana-kuva > img {
    background-size: cover;
    border: 5px;
    border-color: black;
}

.prog-skill {
    height: 30px;
    padding-bottom: 15px;
}

#more .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#more .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}
#more .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#more .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#more .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#more .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#more .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#more .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#more .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#more .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#more .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#more * {
  z-index: 2;
}
@media (min-width: 767px) {
  #more .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #fed136;
}
::selection {
  text-shadow: none;
  background: #fed136;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fed136;
}

.intro-johdatus {
    font-size:  60px;
    text-transform: uppercase;

    font-family: 'Merienda'

}

.intro-otsikko {
    font-style: italic;
    font-size: 30px;
    font-family: 'Merienda';
}

textarea {
    max-height: inherit;
    max-width: inherit;
}
