header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
.contact-list {
    color: blacks
}

.portfolio-item {
    text-align: center
}

#kartta {
    width: 100%;
    height: 400px;
    background-color: bisque;
}
